In [1]:
import pandas as pd
from pathlib import Path

In [2]:
data = pd.read_csv('title.basics.tsv', sep='\t')

/Users/juliamin/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head(50)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
10,tt0000011,short,Akrobatisches Potpourri,Akrobatisches Potpourri,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Le débarquement du congrès de photographie à Lyon,0,1895,\N,1,"Documentary,Short"
13,tt0000014,short,The Waterer Watered,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short"
14,tt0000015,short,Autour d'une cabine,Autour d'une cabine,0,1894,\N,2,"Animation,Short"
15,tt0000016,short,Boat Leaving the Port,Barque sortant du port,0,1895,\N,1,"Documentary,Short"
16,tt0000017,short,Italienischer Bauerntanz,Italienischer Bauerntanz,0,1895,\N,1,"Documentary,Short"
17,tt0000018,short,Das boxende Känguruh,Das boxende Känguruh,0,1895,\N,1,Short
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,\N,\N,"Comedy,Short"
19,tt0000020,short,The Derby 1895,The Derby 1895,0,1895,\N,1,"Documentary,Short,Sport"
20,tt0000022,short,Blacksmith Scene,Les forgerons,0,1895,\N,1,"Documentary,Short"
21,tt0000023,short,The Sea,Baignade en mer,0,1895,\N,1,"Documentary,Short"
22,tt0000024,short,Opening of the Kiel Canal,Opening of the Kiel Canal,0,1895,\N,\N,"News,Short"
23,tt0000025,short,The Oxford and Cambridge University Boat Race,The Oxford and Cambridge University Boat Race,0,1896,\N,\N,"News,Short,Sport"
24,tt0000026,short,The Messers. Lumière at Cards,Partie d'écarté,0,1896,\N,1,"Documentary,Short"
25,tt0000027,short,Cordeliers' Square in Lyon,Place des Cordeliers à Lyon,0,1895,\N,1,"Documentary,Short"
26,tt0000028,short,Fishing for Goldfish,La pêche aux poissons rouges,0,1895,\N,1,"Documentary,Short"
27,tt0000029,short,Baby's Meal,Repas de bébé,0,1895,\N,1,"Documentary,Short"
28,tt0000030,short,Rough Sea at Dover,Rough Sea at Dover,0,1895,\N,1,"Documentary,Short"
29,tt0000031,short,Jumping the Blanket,Le saut à la couverture,0,1895,\N,1,"Documentary,Short"
30,tt0000032,short,Die Serpentintänzerin,Die Serpentintänzerin,0,1895,\N,1,Short
31,tt0000033,short,Horse Trick Riders,La voltige,0,1895,\N,1,"Comedy,Documentary,Short"
32,tt0000034,short,Arrivée d'un train gare de Vincennes,Arrivée d'un train gare de Vincennes,0,1896,\N,1,"Documentary,Short"
33,tt0000035,short,Watering the Flowers,L'arroseur,0,1896,\N,1,"Comedy,Short"
34,tt0000036,short,Awakening of Rip,Awakening of Rip,0,1896,\N,1,"Drama,Short"
35,tt0000037,short,Sea Bathing,Baignade en mer,0,1896,\N,1,Short
36,tt0000038,short,The Ball Game,The Ball Game,0,1898,\N,\N,"Documentary,Short,Sport"
37,tt0000039,short,Barnet Horse Fair,Barnet Horse Fair,0,1896,\N,\N,Short
38,tt0000040,short,Barque sortant du port de Trouville,Barque sortant du port de Trouville,0,1896,\N,\N,"Documentary,Short"
39,tt0000041,short,Bataille de neige,Bataille de neige,0,1897,\N,1,"Comedy,Documentary,Short"
40,tt0000042,short,Bateau-mouche sur la Seine,Bateau-mouche sur la Seine,0,1896,\N,\N,"Documentary,Short"
41,tt0000043,short,Batteuse à vapeur,Batteuse à vapeur,0,1896,\N,\N,"Documentary,Short"
42,tt0000044,short,Le bivouac,Le bivouac,0,1896,\N,1,Short
43,tt0000045,short,Les blanchisseuses,Les blanchisseuses,0,1896,\N,\N,Short
44,tt0000046,short,Bois de Boulogne,Bois de Boulogne,0,1896,\N,\N,"Documentary,Short"
45,tt0000047,short,Boulevard des Italiens,Boulevard des Italiens,0,1896,\N,\N,"Documentary,Short"
46,tt0000048,short,The Boxing Kangaroo,The Boxing Kangaroo,0,1896,\N,\N,Short
47,tt0000049,short,"Boxing Match; or, Glove Contest","Boxing Match; or, Glove Contest",0,1896,\N,\N,"Short,Sport"
48,tt0000050,short,Bébé et fillettes,Bébé et fillettes,0,1896,\N,\N,"Documentary,Short"
49,tt0000051,short,The Bohemian Encampment,Campement de bohémiens,0,1896,\N,\N,"Documentary,Short"

In [4]:
data_2 = pd.read_csv('title.ratings.tsv', sep='\t')

In [5]:
data_2.tail()

            tconst  averageRating  numVotes
1381656  tt9916730            7.6        11
1381657  tt9916766            7.0        22
1381658  tt9916778            7.2        36
1381659  tt9916840            8.8         6
1381660  tt9916880            8.2         6

In [6]:
data_df = pd.merge(data, data_2, on ="tconst")

In [7]:
data_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2008
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.7,270
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1926
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.4,178
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2701

In [8]:
netflix_data = pd.read_csv('Netflix Engagement (plus).csv')
netflix_data

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description
0,The Night Agent: Season 1,Yes,2023-03-23,812100000,7696.0,6.0,"['Biography', 'Drama', 'History']","persian empire,empire,5th century b.c.,achaeme...",NaN
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000,5216.0,5.7,"['Comedy', 'Drama', 'Romance']","producer,three word title,headstrong,arranged ...",The film follows headstrong Ginny who meets Su...
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000,11869.0,8.4,['Short'],NaN,NaN
3,Wednesday: Season 1,Yes,2022-11-23,507700000,NaN,NaN,['Talk-Show'],youtube video,MsMojo counts down the top 10 Wednesday (2022)...
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000,50077.0,7.4,"['Drama', 'History', 'Romance']","prequel,queen,historical,england,queen charlot...","Betrothed against her will to King George, you..."
...,...,...,...,...,...,...,...,...,...
18327,راس السنة,No,NaN,100000,383.0,4.8,['Drama'],live,A tale of different people whose lives intertw...
18328,心が叫びたがってるんだ。,No,NaN,100000,6209.0,7.3,"['Animation', 'Drama', 'Family']","anime animation,anime",A young girl had her voice magically taken awa...
18329,두근두근 내 인생,No,NaN,100000,NaN,NaN,NaN,NaN,NaN
18330,라디오 스타,No,NaN,100000,NaN,NaN,NaN,NaN,NaN
18331,선생 김봉두,No,NaN,100000,NaN,NaN,NaN,NaN,NaN

In [9]:
test_df = netflix_data[netflix_data["Rating"].isnull()]
test_df

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description
3,Wednesday: Season 1,Yes,2022-11-23,507700000,NaN,NaN,['Talk-Show'],youtube video,MsMojo counts down the top 10 Wednesday (2022)...
7,Outer Banks: Season 3,Yes,2023-02-23,402500000,NaN,NaN,NaN,NaN,NaN
10,Manifest: Season 4,Yes,2022-11-04,262600000,NaN,NaN,"['Documentary', 'Short']",NaN,NaN
11,Kaleidoscope: Limited Series,Yes,2023-01-01,252500000,NaN,NaN,NaN,NaN,NaN
12,Firefly Lane: Season 2,Yes,2022-12-02,251500000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
18325,حكايات بنات الجزء ١: Season 2,No,NaN,100000,NaN,NaN,NaN,NaN,NaN
18326,حكايات بنات الجزء ١: Season 3,No,NaN,100000,NaN,NaN,NaN,NaN,NaN
18329,두근두근 내 인생,No,NaN,100000,NaN,NaN,NaN,NaN,NaN
18330,라디오 스타,No,NaN,100000,NaN,NaN,NaN,NaN,NaN
18331,선생 김봉두,No,NaN,100000,NaN,NaN,NaN,NaN,NaN

In [10]:
data_df = data_df.rename(columns={"primaryTitle":"Title"})
data_df.head()

,tconst,titleType,Title,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.7,2008
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",5.7,270
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1926
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short",5.4,178
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.2,2701

In [11]:
merge_df = pd.merge(test_df, data_df, on ="Title")
merge_df

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description,tconst,titleType,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,AKA,Yes,2023-04-28,120000000,NaN,NaN,NaN,NaN,NaN,tt0317052,movie,AKA,0,2002,\N,123,"Drama,Romance",6.3,1239
1,AKA,Yes,2023-04-28,120000000,NaN,NaN,NaN,NaN,NaN,tt1117442,tvEpisode,AKA,0,2007,\N,43,"Action,Crime,Drama",8.1,36
2,AKA,Yes,2023-04-28,120000000,NaN,NaN,NaN,NaN,NaN,tt27197387,movie,AKA,0,2023,\N,122,"Action,Crime,Thriller",6.6,12119
3,Stranger Things 3,Yes,2019-07-04,67000000,NaN,NaN,"['Short', 'Comedy']",NaN,NaN,tt8046346,tvEpisode,Stranger Things 3,0,2017,\N,\N,"Action,Adventure,Comedy",9.4,16
4,The Gray Man,Yes,2022-07-22,58300000,NaN,NaN,NaN,NaN,NaN,tt0360615,movie,The Gray Man,0,2002,\N,87,"Action,Crime,Drama",7.9,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,Wild Venice,No,NaN,100000,NaN,NaN,"['Comedy', 'Family']",NaN,NaN,tt27571435,movie,Wild Venice,0,2014,\N,52,Documentary,6.6,8
1008,Zog,No,NaN,100000,NaN,NaN,"['Animation', 'Short', 'Comedy']",NaN,"Almost 250,000 years ago, Zog, the first femin...",tt9109620,tvMovie,Zog,0,2018,\N,26,"Animation,Comedy,Family",7.3,1326
1009,Zulu,No,NaN,100000,NaN,NaN,NaN,NaN,NaN,tt0058777,movie,Zulu,0,1964,\N,138,"Drama,History,War",7.7,41872
1010,Zulu,No,NaN,100000,NaN,NaN,NaN,NaN,NaN,tt2249221,movie,Zulu,0,2013,\N,110,"Action,Crime,Drama",6.7,19668
1011,Zulu,No,NaN,100000,NaN,NaN,NaN,NaN,NaN,tt7232874,tvEpisode,Zulu,0,2015,\N,18,"Comedy,Documentary,History",7.7,8