In [50]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [51]:
# Read the 'data_title.tsv'data file as title_df
title_df = pd.read_csv("data/data_title.tsv",sep = '\t') 
title_df.head()

/var/folders/jn/000q98496_9_y7jg5hj5hvw40000gn/T/ipykernel_10772/329413155.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_df = pd.read_csv("data/data_title.tsv",sep = '\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [52]:
# Drop unwanted columns: 'isAdult','endYear','runtimeMinutes'
del title_df['isAdult']
del title_df['endYear']
del title_df['runtimeMinutes']

In [53]:
# title_df['primaryTitle'] = title_df['primaryTitle'].astype(str)
# title_df['originalTitle'] = title_df['originalTitle'].astype(str)
# title_df['primaryTitle'] = title_df['primaryTitle'].convert_dtypes(convert_string=True)

In [54]:
# Check out the data types
title_df.dtypes

tconst           object
titleType        object
primaryTitle     object
originalTitle    object
startYear        object
genres           object
dtype: object

In [55]:
# Lowercase all titles for easier line up to other datasets
title_df['primaryTitle'] = title_df['primaryTitle'].str.lower()
title_df['originalTitle'] = title_df['originalTitle'].str.lower()

In [62]:
# Check out all titleTypes
title_df['titleType'].unique()

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [69]:
# Drop rows with unwanted 'titleType'
title_df = title_df.drop(title_df[
    (title_df.titleType == 'videoGame') 
  | (title_df.titleType == 'tvPilot')].index)

array(['short', 'movie', 'tvShort', 'tvMovie', 'tvSeries', 'tvEpisode',
       'tvMiniSeries', 'tvSpecial', 'video'], dtype=object)

In [81]:
title_df[title_df['titleType']=='tvEpisode']

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
41215,tt0041951,tvEpisode,the tenderfeet,the tenderfeet,1949,Western
42063,tt0042816,tvEpisode,othello,othello,1950,Drama
42135,tt0042889,tvEpisode,the tragedy of king richard ii/ii,the tragedy of king richard ii/ii,1950,Drama
42659,tt0043426,tvEpisode,coriolanus,coriolanus,1951,Drama
42864,tt0043631,tvEpisode,the life of king henry v,the life of king henry v,1951,Drama
...,...,...,...,...,...,...
10413383,tt9916846,tvEpisode,episode #3.18,episode #3.18,2009,"Action,Drama,Family"
10413384,tt9916848,tvEpisode,episode #3.17,episode #3.17,2009,"Action,Drama,Family"
10413385,tt9916850,tvEpisode,episode #3.19,episode #3.19,2010,"Action,Drama,Family"
10413386,tt9916852,tvEpisode,episode #3.20,episode #3.20,2010,"Action,Drama,Family"
10413388,tt9916880,tvEpisode,horrid henry knows it all,horrid henry knows it all,2014,"Adventure,Animation,Comedy"

In [80]:
title_df.sort_values(by='startYear',ascending=False)

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
2841893,tt13425814,tvEpisode,episode #3.247,episode #3.247,\N,"News,Talk-Show"
3375560,tt14406304,tvEpisode,episode #1.141,episode #1.141,\N,Drama
2065014,tt11976020,tvEpisode,episode #1.311,episode #1.311,\N,"Drama,Romance"
7314218,tt30401572,movie,ape-shit,ape-shit,\N,Comedy
2065015,tt11976022,tvEpisode,episode #1.312,episode #1.312,\N,"Drama,Romance"
...,...,...,...,...,...,...
3424422,tt14495706,short,la rosace magique,la rosace magique,1877,"Animation,Short"
4495790,tt16763674,short,the tight-rope dance,la danse sur la corde,1877,"Animation,Short"
4495832,tt16763774,short,dzing. boom. boom!,zimm. boum. boum!,1877,"Animation,Short"
4495819,tt16763740,short,skipping rope,le jeu de corde,1877,"Animation,Short"
7378225,tt3155794,short,passage de venus,passage de venus,1874,"Documentary,Short"